In [9]:
import requests
import pandas as pd

url = "https://datasets-server.huggingface.co/rows?dataset=csebuetnlp%2Fxlsum&config=tamil&split=train&offset=0"

response = requests.get(url)

data = response.json()

# Extract the "rows" data
rows_data = data["rows"]

# Extract the "row" data for each entry
row_data_list = [entry["row"] for entry in rows_data]

# Create a DataFrame from the extracted "row" data
df = pd.DataFrame(row_data_list)

# Now, you have a DataFrame containing the data inside each "row" within the "rows" column.
df.head()

,id,url,title,summary,text
0,global-37799397,https://www.bbc.com/tamil/global-37799397,பல ஆண்டுகளுக்குமுன் இங்கிலாந்தில் கண்டுபிடிக்க...,இங்கிலாந்தில் 10 ஆண்டுகளுக்கும் முன்னர் தெற்கு...,"கோப்புப்படம் இந்த மூளை, குறிப்பிடத்தக்க அளவு ந..."
1,global-38043600,https://www.bbc.com/tamil/global-38043600,பிரான்ஸ் அதிபர் வேட்பாளர் தேர்தலில் மக்கள் வாக...,பிரான்சின் அதிபர் வேட்பாளரை தேர்ந்தெடுக்க மத்த...,களத்தில் உள்ள முன்னாள் அதிபர் நிக்கோலாஸ் சர்கோ...
2,science-49620264,https://www.bbc.com/tamil/science-49620264,சந்திரயான் 2: ‘விக்ரம் லேண்டரில் என்ன கோளாறு ஏ...,சந்திரயான் - 2 திட்டத்தின் முக்கியப் பகுதியான ...,கேள்வி:விக்ரம் லேண்டருடனான தொடர்பு எப்படி துண்...
3,global-56191770,https://www.bbc.com/tamil/global-56191770,பைடன் அரசில் அமெரிக்க வாழ் இந்தியர்கள் நீரா டா...,பைடன் நிர்வாகத்தில் இணைய இருக்கும் நீரா டாண்டன...,பைடன் நிர்வாகத்தில் முக்கியமான பதவிகளை வகிக்க ...
4,global-39853514,https://www.bbc.com/tamil/global-39853514,ஃபிரான்ஸ் அதிபருடன் காதல் மலர்ந்தது எப்படி? மன...,யார் இந்த பிரிகெட்டி?,ஃபிரான்ஸ் நாட்டின் புதிய அதிபராக தேர்ந்தெடுக்க...

In [10]:
df.shape

(100, 5)

In [11]:
from datasets import load_dataset

dataset = load_dataset("csebuetnlp/xlsum", "tamil")

Downloading builder script: 100%|██████████| 4.55k/4.55k [00:00<?, ?B/s]
Downloading readme: 100%|██████████| 14.6k/14.6k [00:00<00:00, 14.6MB/s]
Downloading data: 100%|██████████| 21.9M/21.9M [00:02<00:00, 9.77MB/s]
Generating train split: 16222 examples [00:02, 6285.90 examples/s]
Generating test split: 2027 examples [00:00, 6363.05 examples/s]
Generating validation split: 2027 examples [00:00, 6517.25 examples/s]

In [22]:
# Access the train split
train_dataset = dataset["train"]

# Convert train_dataset into a list of dictionaries
data_l = []

for item in train_dataset:
    data_dict = {
        "id": item["id"],
        "url": item["url"],
        "title": item["title"],
        "summary": item["summary"],
        "text": item["text"]
    }
    data_l.append(data_dict)

# Create a Pandas DataFrame
Train_data = pd.DataFrame(data_l)

In [23]:
# Access the train split
test_dataset = dataset["test"]

# Convert train_dataset into a list of dictionaries
data_li = []

for item in test_dataset:
    data_dict = {
        "id": item["id"],
        "url": item["url"],
        "title": item["title"],
        "summary": item["summary"],
        "text": item["text"]
    }
    data_li.append(data_dict)

# Create a Pandas DataFrame
Test_data = pd.DataFrame(data_li)

In [24]:
# Access the train split
validation_dataset = dataset["validation"]

# Convert train_dataset into a list of dictionaries
data_list = []

for item in validation_dataset:
    data_dict = {
        "id": item["id"],
        "url": item["url"],
        "title": item["title"],
        "summary": item["summary"],
        "text": item["text"]
    }
    data_list.append(data_dict)

# Create a Pandas DataFrame
val_data = pd.DataFrame(data_list)

In [25]:
Test_data.shape, val_data.shape, Train_data.shape

((2027, 5), (2027, 5), (16222, 5))

In [26]:
Test_data.head()

,id,url,title,summary,text
0,global-54137886,https://www.bbc.com/tamil/global-54137886,இஸ்ரேல் – பஹ்ரைனுக்கு இடையே உடன்படிக்கை - வரலா...,தங்களது இருதரப்பு உறவை சுமூகமாக்க இஸ்ரேலும் பஹ...,இதுகுறித்த அறிவிப்பை அமெரிக்க அதிபர் டொனால்ட் ...
1,arts-and-culture-49954137,https://www.bbc.com/tamil/arts-and-culture-499...,பிக் பாஸ் முகேன் ராவ் : மலேசியா டூ தமிழ்நாடு -...,மலேசியாவில் காவல்துறைப் பணியில் இருந்திருக்க வ...,பிக் பாஸ் சீசன் 3 வெற்றியாளராக மலேசியாவை சேர்ந...
2,india-43548016,https://www.bbc.com/tamil/india-43548016,தேனி நியூட்ரினோ திட்டம்: வனம் மற்றும் சுற்றுச்...,தேனி மாவட்டம் பொட்டிபுரம் கிராமத்திலுள்ள மலைப்...,இந்த திட்டம் செயற்படுத்தப்படும் இடத்திலுள்ள மக...
3,india-50987799,https://www.bbc.com/tamil/india-50987799,"தலித், மாற்றுத் திறனாளி - 21 வயது தமிழ் மாணவிய...",தினக்கூலி வேலைக்கு செல்லும் பெற்றோர். சிறு வயத...,இவை அனைத்தையும் மீறி தமிழக உள்ளாட்சித் தேர்தலி...
4,global-53636286,https://www.bbc.com/tamil/global-53636286,கொரோனா வைரஸ் தொற்று: இரான் கூறியதைவிட மும்மடங்...,இரான் அரசு வெளியிட்ட தரவுகளை விட அங்கு கொரோனா ...,"இரான் அரசைப் பொறுத்தவரை, ஜூலை 20ம் தேதி வரை 42..."

In [ ]:
import openpyxl

df = pd.ExcelWriter("Train_data.xlsx")
Train_data.to_excel(df)
df.book.save("Train_data.xlsx")

df1 = pd.ExcelWriter("Test_data.xlsx")
Test_data.to_excel(df1)
df1.book.save("Test_data.xlsx")

df2 = pd.ExcelWriter("Validation_data.xlsx")
val_data.to_excel(df2)
df2.book.save("Validation_data.xlsx")